<!DOCTYPE html>
{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<section>
  <p>I hope the old man got that tractor beam out of commission, or this is going to be a real short trip. Okay, hit it! We're coming up on the sentry ships. Hold 'em off! Angle the deflector shields while I charge up the main guns! I can't believe he's gone. There wasn't anything you could have done. Come on, buddy, we're not out of this yet! You in, kid? Okay, stay sharp!</p>
  <div class="video-container video-container-16x9">
    <iframe src="https://www.youtube-nocookie.com/embed/zB4I68XVPzQ?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
<p>Hey, you're not permitted in there. It's restricted. You'll be deactivated for sure.. Don't call me a mindless philosopher, you overweight glob of grease! Now come out before somebody sees you. Secret mission? What plans? What are you talking about? I'm not getting in there! I'm going to regret this. There goes another one. Hold your fire. There are no life forms. It must have been short-circuited. That's funny, the damage doesn't look as bad from out here. Are you sure this thing's safe?</p>
</section>
{{ partial "footer.html" . }}
