<!DOCTYPE html>
<html>
<head>
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Quicksand|Roboto+Condensed" rel="stylesheet">
</head>
<body>
<a href="/"><h1>QwertyCat Consulting</h1></a>
<h2>Welcome!</h2>
{{ partial "nav.html" . }}
<section>
  <p>Data, symbols and signals provide no useful value to us on their own. First, they must be categorized and organized into information. Only when that information is understood can it be considered knowledge. At Qwerty Cat Consulting, we believe that knowledge and education are transformational. Our mission is to assist this transformation through the creation and curation of digital media.</p>
  <p><a href="about">Click here</a> to learn more about us.</p>
</section>
{{ partial "footer.html" . }}
